<div class="titre">
    <h1 class="digi">Digi<span class="caisse">Caisse</span></h1>
    <h1 class="partie">Partie <span>cuisine</span></h1>
</div>
  <div class="row top" >
    <div class="col-md-5 grid-margin" type="button" routerLink="/CuisineP">
        <div class="card text-white card">
            <div class="card-body">
              <h1 class="card-text">Cuisine Primaire</h1>
            </div>
          </div>
    </div>
    <div class="col-md-5 grid-margin" type="button" routerLink="/CuisinieS">
        <div class="card text-white card">
            <div class="card-body">
                <h1 class="card-text">Cuisine Secondaire</h1>
            </div>
          </div>
    </div>
</div>
