
<h5 class="card-title time"><i class="mdi mdi-timetable ic"></i>{{dateTime
  |async| date:'medium' }}</h5>

<div class="row mt-5">

<ngb-alert [dismissible]="false" [type]="'primary'" style="font-size: 25px;">
 N° commande  --
</ngb-alert>


<ul class="list-group">
  <li class="list-group-item cuis"></li>

</ul>

</div>
<div class="row mt-5">
  <ngb-alert [dismissible]="false" [type]="'primary'" style="font-size: 25px;">
   N° commande  --
  </ngb-alert>


  <ul class="list-group">
    <li class="list-group-item cuis"></li>
  </ul>
  </div>
