<button class="btn  btn-icon retour border mt-5" type="button" id="button-search-addon" routerLink="/Caisse"><i class="feather icon-arrow-left"></i>Retour à la caisse</button>
<div class="row mt-2">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card border">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 grid-margin stretch-card">
            <h3>Rechercher par N° Tel / Nom / Prénom</h3>
           </div>
           <div class="col-md-8 grid-margin stretch-card">
            <div class="input-group mt-5">
              <input class="form-control border" type="text" placeholder="Numéro de télephone / Nom / Prénom">
              <button class="btn  btn-icon ok border" type="button" id="button-search-addon"><i class="feather icon-check"></i></button>
            </div>
           </div>
         </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card border">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 grid-margin stretch-card">
            <h3>Scanner code barre carte de fidélité</h3>
           </div>
           <div class="col-md-8 grid-margin stretch-card">
            <div class="input-group mt-5">
              <input class="form-control border" type="text" placeholder="Scanner code barre">
              <button class="btn  btn-icon ok border" type="button" id="button-search-addon"><i class="feather icon-check"></i></button>
            </div>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>
